//
// tables.scss
//

//Table centered (Custom)
.table-centered {

    th,
    td {
        vertical-align: middle !important;
    }
}

// Custom table components (Custom)
.table {
    .table-user {
        img {
            height: 30px;
            width: 30px;
        }
    }

    .action-icon {
        color: var(--#{$prefix}gray-600);
        font-size: 1.2rem;
        display: inline-block;
        padding: 0 3px;

        &:hover {
            color: var(--#{$prefix}gray-700);
        }
    }

    > :not(caption)>*>* {
        background-color: var(--#{$prefix}table-bg) !important;
    }

    &.table-bordered {
        tbody {
            border-top: $border-width solid;
            border-top-color: inherit;
        }
    }
}

.table-sm {
    .action-icon {
        font-size: 1rem;
    }
}

// Tables fluid
.table-nowrap {

    th,
    td {
        white-space: nowrap;
    }
}


html[data-theme="dark"] {
    .table-light {
        --#{$prefix}table-color: var(--#{$prefix}body-color);
        --#{$prefix}table-bg: var(--#{$prefix}light);
        --#{$prefix}table-border-color: #{$table-group-separator-color};
    }
}

.table{
    background: #222222;
    &__product{
        &-title{
            padding: 10px;
            background-color: #222222;
            color: #e1e1e1;
        }
    }
    .tr-filter{
        background: #222222;
        border-bottom: 2px solid;
    }
    .tr-body {
        background: #313131;
        td{
            color: #e1e1e1;
        }
    }
    .th-head {
        background-color: #1b0142 !important;
        color: #fff !important;
    }
}