// Utilities

@import "utilities/background";
@import "utilities/text";
@import "utilities/cursor";

// border style
.border-dashed {
    border-style: dashed !important;
}

.copy-clipboard {
	cursor: pointer;
	background: transparent;
	border: inherit;
	color: inherit;
}